
.wx_carta {
    font-family: 'Roboto';
    width: 100%;
    margin-bottom: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: inline-block;
    background-color: white;
    border: 1px solid #c4c4c4;
    box-shadow: 2px 2px 4px #c4c4c4;
}

.wx_carta .value {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: 24px;
}

.wx_carta .label {
    display: block;
    font-size: 12px;
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
}


/* https://www.w3schools.com/css/css_tooltip.asp */
.tooltip-wrapper {
    float: right;
    margin-right: 5px;
    color: #00baff;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #00baff; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip-wrapper .tooltip-text {
    font-family: 'Roboto';
    border: 0px solid #00baff;
    box-shadow: 2px 2px 4px #c4c4c4;
    font-size: 11px;
    visibility: hidden;
    background-color: #00baff;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    
    /* Positioning */
    top: 8px;
    right: 16px;
    width: 170px;

    opacity: 0;
    transition: opacity 1s;
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip-wrapper:hover .tooltip-text {
    visibility: visible;
    opacity: 1;

  }
