.wrapper-controls {
    background-color: #00baff;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 4px #c4c4c4;
    margin-bottom: 20px;
}
/* Desktop*/
@media (min-width: 991px) {
    .wrapper-controls {
        height: 90vh;
    }
}

.controls {
    background-color: white;
    border: 0px solid lightgray;
    padding: 15px;
    margin-top: 30px;
    border-radius: 4px;
}

.controls {
    text-align: center;
}

.input-current-hour {
    width: 110px;
    font-size: 16px;
    font-weight: 300;;
    margin: 0;
    display: -moz-inline-grid;
    display: -ms-inline-grid;
    display: inline-grid;
}

.input-agency-selector {
    display: grid;
    font-size: 14px;
    margin-top: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* Desktop*/
@media (min-width: 991px) {
    .input-agency-selector {
        display: grid;
        margin-top: 30px;
        position: relative;
        top: 0;
        transform: unset;
    }
}

.input-agency-selector input {
    margin-right: 10px;
    font-size: 16px;
}

.input-title {
    display: none;
}

/* Desktop*/
@media (min-width: 991px) {
    .input-title {
        display: inherit;
        margin-top: 20px;
        margin-bottom: 15px;
        font-size: 18px;
    }
}

.wrapper-input-refresh {
    margin-top: 0;
}

/* Desktop*/
@media (min-width: 991px) {
    .wrapper-input-refresh {
        margin-top: 30px;
    } 
}

.input-refresh {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: white;
    color: #00baff;
    height: auto;
    border-radius: 3px;
    border: 1px solid #00baff;
}

/* Desktop*/
@media (min-width: 991px) {
    .input-refresh {
        position: relative;
        left: 0;
        top: 0;
        transform: unset;
    } 
}

.input-refresh:hover {
    background-color: #00baff;
    color: white;
    border: 1px solid lightgray;
}

i.fas.fa-sync-alt {
    padding: 5px;
}

.SingleDatePickerInput__withBorder {
    border: 0;
}

.DateInput {
    width: 110px;
    font-size: 16px;
}

a.menu-item {
    font-size: 18px;
}

/* Desktop*/
@media (min-width: 1499px) {
    a.menu-item {
        font-size: 24px;
    }   
}

.menu-item.active {
    background-color: white !important;
    color: #00baff !important;
}

a.menu-item:hover {
    border: 1px solid lightgray !important;
}

a.menu-item {
    color: white !important;
    border: 1px solid white;
}

.nav {
    margin-top: 20px;
}

.nav-item {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
/* Tablet*/
@media (min-width: 991px) {
    .nav-item {
        padding-left: 0;
        padding-right: 0;
    } 
}

.menu-item .fas {
    padding-right: 10px;
}


.team {
    bottom: 0; 
    font-size: 9px;
    padding: 5px;
    color: lightgray;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
}

.flag-icon {
    width: 20px;
    margin-right: 10px;
}

