.wrapper-controls {
    background-color: #00baff;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 4px #c4c4c4;
}
.controls {
    background-color: white;
    border: 0px solid lightgray;
    padding: 15px;
    margin-top: 30px;
    border-radius: 4px;
}

.controls {
    text-align: center;
}

.input-current-hour {
    width: 100px;
    margin: 0;
    display: -moz-inline-grid;
    display: -ms-inline-grid;
    display: inline-grid;
}

.input-agency-selector {
    display: grid;
    font-size: 14px;
    margin-top: 30px;
}

.input-agency-selector input {
    margin-right: 10px;
    font-size: 16px;
}
.input-title {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 18px;
}

.input-refresh {
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: white;
    color: #00baff;
    height: auto;
    border-radius: 3px;
    border: 1px solid #00baff;
}

.input-refresh:hover {
    background-color: #00baff;
    color: white;
    border: 1px solid lightgray;
}

i.fas.fa-sync-alt {
    padding: 5px;
}

.SingleDatePickerInput__withBorder {
    border: 0;
}

.DateInput {
    width: 100px;
}

.menu-item {
    font-size: 24px;
}

.menu-item.active {
    background-color: white !important;
    color: #00baff !important;
}

a.menu-item:hover {
    border: 1px solid lightgray !important;
}

a.menu-item {
    color: white !important;
    border: 1px solid white;
}

.nav {
    margin-top: 20px;
}

.menu-item .fas {
    padding-right: 20px;
}

#team {
    bottom: 20px;
    font-size: 9px;
    padding: 5px;
    color: #c4c4c4;
    margin-bottom: 20px;
}

.flag-icon {
    width: 20px;
    margin-right: 10px;
}

/* Desktop*/
@media (min-width: 991px) {
    
}