.header-top {
    min-width: 100%;
    min-height: 10px;
    background-color: #00baff;
    margin-bottom: 10px;
    box-shadow: 2px 2px 4px #c4c4c4;
}

.header-bottom {
    min-width: 100%;
    min-height: 2px;
    background-color: #00baff;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 4px #c4c4c4;
}


.header {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}


.dashboard-title {
    text-align: center;
    font-size: 40px;
    padding-top: 0;

}

.loggi-mini {
    text-align: left;
    padding-top: 0;
    display: inline;
}
.loggi-logo {
    display: none;
}
.loggi-logo img {
    height: 40px;
}
.loggi-mini img {
    height: 60px;
}

.co-mini {
    text-align: right;
    display: inline;
}
.co-logo {
    display: none;
}
.co-logo img {
    height: 40px;
}
.co-mini img {
    height: 60px;
}

/* Desktop*/
@media (min-width: 991px) {
    .loggi-logo {
        text-align: left;
        padding-left: 30px;
        display: inline;
    }
    .loggi-mini {
        display: none;
    }

    .dashboard-title {
        font-size: 26px;
    }
    .co-logo {
        text-align: right;
        padding-right: 30px;
        display: inline;
    }
    .co-mini {
        display: none;
    }
}