.tabs-selector span {
    font-family: 'Open Sans';
    font-size: 2.5rem;
}

.tab--selected {
    border-top: 3px solid #00baff !important;
}

.tabs-content {
    background-color: white;
    border-left: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    padding: 10px;
}